

/* about */

.contents {
  padding: 60px 20% 100px;
  background-color: #fff;
  color: #333;
  overflow: hidden;
}

.heading {
  margin: 15px 0 15px;
  letter-spacing: 2px;
  font-size: 4rem;
}

.about-cal {
  width: 50%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-cal-image {
  margin: 100px 0;
}

.about-icon {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.icon-img {
  border-radius: 50%;
}

.about-info {
  list-style: none;
  font-size: 1.8rem;
  text-align: left;

}
.about-info-title {
  font-weight: bold;
}

.about-info-content {
  margin-bottom: 10px;
}