

/* about */

.contents {
  padding: 60px 20% 100px;
  background-color: #fff;
  color: #333;
  overflow: hidden;
}

.heading {
  margin: 15px 0 15px;
  letter-spacing: 2px;
  font-size: 4rem;
}

.about-cal {
  width: 50%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-cal-image {
  margin: 100px 0;
}

.about-icon {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.icon-img {
  border-radius: 50%;
}

.about-info {
  list-style: none;
  font-size: 1.8rem;
  text-align: left;
}
.about-info-title {
  font-weight: bold;
}

.about-info-content {
  margin-bottom: 10px;
}

/* --------------------------------
 * smart phone
 * -------------------------------- */


@media (max-width: 767px) {

  body {
    font-size: 1.3rem;
  }

  section.contents {
    padding: 60px 30px 100px;
  }

  section.contents h2 {
    font-size: 3rem;
  }

  .heading {
    margin-top: 20px;
  }

  .about-cal {
    width: 100%;
    float: none;
  }

  .about-cal-image {
    margin: 40px 0 20px;
  }

  .about-icon {
    width: 200px;
    height: 200px;
  }

  .icon-img {
    width: 200px;
    height: 200px;
  }

  .about-info-title {
    margin-bottom: 5px;
  }

  .about-info {
    font-size: 1.8rem;
    text-align: center;
    padding-left: 0;
  }

  .about-info-content {
    margin-bottom: 20px;
  }

}