@charset "UTF-8";

html {
  font-size: 62.5%;
}
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  text-align: center;
  font-size: 1.4rem;
  font-family: 'Noto Sans JP', sans-serif;
  background: url('../images/bg2.jpg') no-repeat fixed left bottom;
}

.top-header {
  display: none;
}

/* header */

.header {
  color: #fff;
  height: 100vh;
  width: 100vw;
  padding: 170px 150px 80px;
  text-align: left;
  background: url('../images/bg2.jpg') no-repeat fixed left bottom;
}
 
.site-title-sub {
  margin: 150px 0 30px;
  letter-spacing: 1px;
  font-size: 3rem;
}
 
.site-title {
  margin: 30px 0 60px 0px;
  font-size: 9rem;
  letter-spacing: 5px;
}

.site-title-under {
  display: none;
}

.buttons {
  padding: 80px 0 100px;
}

.button {
  display: inline-block;
  margin: 0 30px 0 10px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 2.2rem;
  position: relative;
}
.button:hover {
  opacity: 0.8;
}
.button::after {
  position: absolute;
  content: '';
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 1px;
  background: #fff;
  transition: all 0.3s ease 0s;
}
.button:hover::after {
  width: 100%;
}

/* about */

.about {
  padding: 80px 30px 100px;
  background-color: #fff;
  color: #333;
}

.heading {
  margin: 30px 0 15px;
  letter-spacing: 2px;
  font-size: 4rem;
}
.about-text {
  margin: 30px;
  line-height: 2.5;
  font-size: 1.8rem;
}

.button-more {
  margin: 0 auto;
}

.button-about {
  color: #333;
}

.button-about::after {
  background: #333;
}

/* works */

.works {
  padding: 80px 0 100px;
  background: url('../images/bg3.jpg') no-repeat fixed center;
  color: #fff;
}

.swiper-container {
  width: 50vw;
  height: 30vh;
  margin: 50px;
}

.slide1 {
  background-image: url("../images/portfolio.png");
  background-repeat: no-repeat;       
  background-position: center center;
  background-size: contain;
  width:500px;
  height:300px;
}

.slide2 {
  background-image: url("../images/myportfolio.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width:500px;
  height:300px;
}

.slide3 {
  background-image: url("../images/freemarket.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width:500px;
  height:300px;
}

.slide4 {
  background-image: url("../images/chatspace.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width:500px;
  height:300px;
}

.caption {
	font-size:		130%;
	text-align: 		center;
  color:			#fff;
  text-decoration: none;
}
.mask {
	width:			100%;
	height:			100%;
	position:		absolute;
	top:			0;
	left:			0;
	opacity:		0;	/* マスクを表示しない */
	background-color:	rgba(0,0,0,0.4);
	-webkit-transition:	all 0.6s ease;
	transition:		all 0.6s ease;
}
.mask:hover {
	opacity:		1;	/* マスクを表示する */
	padding-top:		14vh;	/* ホバーで下にずらす */
}

/* skill  */

.skills{
  padding: 80px 30px 110px;
  background-color: #fff;
  color: #333;
}

.skills-wrapper {
  display: table;
  width: 80vw;
  margin: 50px auto 0;
  table-layout: fixed;
}

.skill-box {
  display: table-cell;
}

.skill-icon {
  width: 120px;
  height: 120px;
  margin-bottom: 30px;
  border: 2px solid;
  border-radius: 50%;
  color: #f1b400;
  font-size: 6rem;
  line-height: 116px;
}
.skill-icon::before {
  width: 120px;
  height: 120px;
  font-size: 6rem;
  line-height: 116px;
}

.skill-title {
  margin: 0 20px 20px;
  font-size: 2rem;
}
.skill-text {
  margin: 0 20px;
  line-height: 2;
  font-size: 1.6rem;
}

/* contact */

.contact {
  padding: 80px 0 150px;
  background: url('../images/bg4.jpg') no-repeat fixed right top;
  color: #fff;
}

.wpcf7 {
  width: 40vw;
  margin: 50px auto 0;
}

.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.05);
  color: #363636;
  font-size: 1.5rem;
}

.wpcf7 textarea {
  height: 200px;
}

.wpcf7 input[type="submit"] {
  display: block;
  width: 200px;
  margin: 40px auto 0;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  font-size: 2rem;
}


.wpcf7 input[type="text"]:focus,
.wpcf7 input[type="email"]:focus,
.wpcf7 textarea:focus {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.5) inset;
}

.wpcf7 input[type="submit"]:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

/* footer */

.footer {
  padding: 20px 150px;
  font-size: 1.3rem;
  background: url('../images/bg4.jpg') no-repeat fixed right top;
}

.buttons-footer {
  padding: 0;
  text-align: left;
}

.button-footer {
  font-size: 1.5rem;
}

.copyright {
  color: #fff;
}


/* pagetop */

.pageup {
  position: fixed;
  display: inline-block;
  right: 7%;
  right: 5.5vw;
  bottom: 6%;
  bottom: 4vw;
  width: 50px;
  height: 50px;
  z-index: 100;
  text-align: center;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  pointer-events: none;
  cursor: pointer;
}

.pageup__arr {
  position: absolute;
  top: 15px;
  right: 50%;
  width: 25px;
  height: 25px;
  border-top: 2px #161615 solid;
  border-right: 2px #161615 solid;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: right top;
  transform-origin: right top;
}

.pageup--active {
  opacity: 1;
  pointer-events: auto;
}







/* --------------------------------
 * tablet
 * -------------------------------- */

@media screen and (max-width: 1179px) {

  body {
    font-size: 1.3rem;
    background: url('../images/bg-tb.jpg') no-repeat fixed left top;
  }
  body::before {
    content: "";
    background: url('../images/bg-tb.jpg') no-repeat left top;
    background-size: 100% auto;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    content: "";
    z-index: -1; 
  }

  /* header */

  .header {
    text-align: center;
    background: none;
  }

  .site-title-sub {
    margin: 200px 0 30px;
  }

  .buttons {
    padding: 80px 0 100px;
  }
  
  .button {
    display: inline-block;
    margin: 0 30px 0;
    color: #fff;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 2.5rem;
    position: relative;
  }

  .button-about {
    color: #333;
  }

  /* works */
  .works {
    background: none;
  }

  .swiper-container {
    width: 60vw;
    height: 36vh;
  }

  .mask:hover {
    opacity:		1;	/* マスクを表示する */
    padding-top:		22vh;	/* ホバーで下にずらす */
  }

  /* contact */
  .contact {
    background: none;
  }
  
  .wpcf7 {
    width: 60vw;
  }

  /* footer */

  .footer {
    padding: 20px;
    background: none;
  }

  .buttons-footer {
    padding: 0;
    text-align: center;
    position: static;
  }

  .button-footer {
    font-size: 2.2rem;
    margin: 0 10px 0 10px;
  }

}

/* --------------------------------
 * tablet 小
 * -------------------------------- */

@media screen and (max-width: 1000px) {

  .header {
    height: 100vh;
    width: 100vw;
    padding: 170px 100px 80px;
  }

  .site-title-sub {
    margin: 50px 0 30px;
  }

  /* works */

  .swiper-container {
    width: 75vw;
    height: 45vh;
    margin: 20px;
  }

  .mask:hover {
    opacity:		1;	/* マスクを表示する */
    padding-top:		18vh;	/* ホバーで下にずらす */
  }

  /* skill */

  .skill-wrapper, 
  .skill-box {
    display: block;
  }

  .skills-wrapper:last-child {
    margin-top: 0;
  }

  .skill-box {
    margin: 40px auto;
  }

  .skill-box:nth-of-type(1) {
    margin-top: 0;
  }

  .skill-icon,
  .skill-icon::before {
    width: 200px;
    height: 200px;
    font-size: 8rem;
    line-height: 192px;
  }

  .skill-title {
    font-size: 3rem;
    margin: 0 20px 10px;
  }

  .skill-text {
    margin: 0 20px;
    line-height: 1.5;
    font-size: 1.8rem;
  }

}






/* --------------------------------
 * smart phone
 * -------------------------------- */


@media (max-width: 767px) {
  body {
    font-size: 1.3rem;
    background: url('../images/bg-sp.jpg') no-repeat fixed left top;
  }
  body::before {
    content: "";
    background: url('../images/bg-sp.jpg') no-repeat left top;
    background-size: 100% auto;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    content: "";
    z-index: -1; 
  }
  .heading {
    margin-top: 20px;
    font-size: 2.5rem;
  }
  .button:hover {
    opacity: 1;
  }

  /* sp-tb-top-nav */

  /*ヘッダーまわりはサイトに合わせて調整してください*/
  .top-header {
    display: block;
    width: 100vw;
    padding:10px;
    position: fixed;
    background: url('../images/bg-sp.jpg') no-repeat left top;
    z-index: 99;
  }

  #nav-drawer {
    position: relative;
    margin: 0;
  }

  .top-site-title {
    font-size: 1.5rem;
    letter-spacing: 5px;
    color: #fff;
    padding-left: 30px;
    text-decoration: none;
  }

  /*チェックボックス等は非表示に*/
  .nav-unshown {
    display:none;
  }

  /*アイコンのスペース*/
  #nav-open {
    display: inline-block;
    width: 30px;
    height: 22px;
    vertical-align: middle;
    float: right;
  }

  /*ハンバーガーアイコンをCSSだけで表現*/
  #nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;
    height: 3px;/*線の太さ*/
    width: 25px;/*長さ*/
    border-radius: 3px;
    background: #555;
    display: block;
    content: '';
    cursor: pointer;
  }
  #nav-open span:before {
    bottom: -8px;
  }
  #nav-open span:after {
    bottom: -16px;
  }

  /*閉じる用の薄黒カバー*/
  #nav-close {
    display: none;/*はじめは隠しておく*/
    position: fixed;
    z-index: 99;
    top: 0;/*全体に広がるように*/
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
  }

  /*中身*/
  #nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;/*最前面に*/
    width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
    max-width: 330px;/*最大幅（調整してください）*/
    height: 100%;
    background: url('../images/bg-sp.jpg') no-repeat fixed left top;
    transition: .3s ease-in-out;/*滑らかに表示*/
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);/*左に隠しておく*/
  }

  /*チェックが入ったらもろもろ表示*/
  #nav-input:checked ~ #nav-close {
    display: block;/*カバーを表示*/
    opacity: .5;
  }

  #nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);/*中身を表示（右へスライド）*/
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
  } 

  .asideList {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    border-top: 2px solid rgba(255, 255, 255, .7);
  }

  .top-button {
    border-bottom: 2px solid rgba(255, 255, 255, .7);
    padding: 20px 0;
    display: block;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    transition: color .3s .15s ease-in;
  }

  .top-button::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    background-color: #fff;
    width: 0;
    transition: width .3s ease-in;
    z-index: -1;
  }

  .top-button:hover {
    color: #0799d3;
  }

  .top-button:hover::after {
    width: 100%;
  }


  /* --- header --- */
  .header {
    padding: 60px;
    text-align: center;
    background: none;
  }
  .site-title-sub {
    margin: 100px 0 30px;
    font-size: 1.7rem;
  }

  .site-title-sub::before,
  .site-title-sub::after {
    display: block;
    width: 80%;
    margin: 10px auto;
  }

  .site-title-under {
    display: inline;
    margin: 30px 0 150px;
  }
  
  .site-title {
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: 5rem;
  }

  .header-button {
    display: none;
  }

  .site-title-under {
    display: inline;
  }


  /* about */

  .about-text {
    margin: 30px;
    line-height: 1.8;
    font-size: 1.3rem;
  }

  .button-more {
    font-size: 1.8rem;
  }

  /* works */
  .works {
    background: url('../images/bg-sp.jpg') no-repeat left top;
  }

  .swiper-container {
    width: 75vw;
    height: 45vh;
    margin: 20px;
  }

  .mask:hover {
    opacity:		1;	/* マスクを表示する */
    padding-top:		18vh;	/* ホバーで下にずらす */
  }

  /* skill */

  .skill-wrapper, 
  .skill-box {
    display: block;
  }


  .skills-wrapper:last-child {
    margin-top: 0;
  }

  .skill-box {
    margin: 40px auto;
  }

  .skill-box:nth-of-type(1) {
    margin-top: 0;
  }

  .skill-icon,
  .skill-icon::before {
    width: 100px;
    height: 100px;
    font-size: 5rem;
    line-height: 92px;
  }

  .skill-title {
    font-size: 2rem;
  }

  .skill-text {
    margin: 0;
    font-size: 1.4rem;
  }

  /* contact */
  .contact {
    background: url('../images/bg-sp.jpg') no-repeat left top;
  }

  .wpcf7 {
    width: 80vw;
  }

  /* footer */

  .footer {
    padding: 20px;
    background: url('../images/bg-sp.jpg') no-repeat left top;
  }

  .buttons-footer {
    padding: 0;
    text-align: center;
  }

  .button-footer {
    font-size: 1.3rem;
    margin: 0 10px 0 10px;
  }

}

/* --------------------------------
 * smart phone　X
 * -------------------------------- */

@media (max-width: 400px) {
  .site-title-sub {
    margin-top: 150px;
  }

}