@charset "UTF-8";

html {
  font-size: 62.5%;
}
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  text-align: center;
  font-size: 1.4rem;
  font-family: 'Fredoka One', cursive;
  background: url('../images/bg.jpg') no-repeat fixed left bottom;
}

.header {
  color: #fff;
  height: 100vh;
  width: 100vw;
  padding: 170px 100px 80px;
  text-align: left;
 }
 
.site-title-sub {
  margin: 150px 0 30px 0px;
  letter-spacing: 1px;
  font-size: 3rem;
}
 
.site-title {
  margin: 30px 0 60px 0px;
  font-size: 9rem;
  letter-spacing: 5px;
}

.button {
  display: inline-block;
  margin: 80px 30px 100px 10px;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 2.2rem;
  position: relative;
}
.button:hover {
  opacity: 0.5;
}
.button::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background: #fff;
  transition: all 0.3s ease 0s;
}
.botton:hover::after {
  width: 100%;
}

/* --------------------------------
 * smart phone
 * -------------------------------- */
@media (max-width: 768px) {
  body {
    font-size: 1.3rem;
  }
.heading {
  margin-top: 20px;
  font-size: 2.5rem;
}
.button:hover {
  opacity: 1;
}

/* --- header --- */
.header {
  padding-top: 60px;
  text-align: center;
}
.site-title-sub {
  font-size: 1.7rem;
}
.site-title-sub::before,
.site-title-sub::after {
  display: block;
  width: 80%;
  margin: 10px auto;
}
.site-title {
  margin-top: 35px;
  font-size: 5rem;
}
}